<style type="text/css">
  em { background-color: yellow; }
</style>

<div id="main">
  keywords: <input type="text" v-model="keywords"/><br/>
  <button v-on:click="run">Search</button><br/>
  {{ result.numFound }} <br/>
  <table border=1 style="border-collapse: collapse">
    <tr v-for="(row, _) in result.docs">
      <td>{{ row.doc_id_i }}</td>
      <td><a v-bind:href="row.url_s">{{ row.title_txt_ja }}</a></td>
      <td>
        <div v-for="(html, _) in hl[row.doc_id_i]['content_txt_ja']"
             v-html="html">
        </div>
      </td>
    </tr>
  </table>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
<script src="/file/sample_09_07.js"></script>
