<div id="main">
  annotation name: <input type="text" v-model="name"/><br/>
  keywords: <input type="text" v-model="keywords"/><br/>
  <button v-on:click="run">Search</button><br/>
  {{ result.numFound }} <br/>
  <table border=1 style="border-collapse: collapse">
    <tr v-for="(row, _) in result.docs">
      <td>{{ row.doc_id_i }}</td>
      <td>{{ row[name + '_txt_ja'] }}</td>
      <td>{{ row.title_txt_ja }}</td>
      <td>{{ row.sentence_txt_ja }}</td>
    </tr>
  </table>
</div>
<br/>

<script src="https://unpkg.com/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
<script src="/file/sample_09_11.js"></script>
